<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type=" content="text/html; charset=UTF-8" />
<title></title>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="//alasql.org/console/alasql.min.js"></script>
<link href="//code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//maps.google.com/maps/api/js?libraries=geometry&sensor=false&language=en"></script>

<style>
    .map_canvas
    {
        width: 500px;
        height: 500px;
    }
</style>

<script type="text/javascript">
    var map;
    var iniLat = 39.97;
    var iniLng = -75.15;
    var iniZoom = 13;

    // variable to create marker
    var marker;

    // create marker lat and long
    var latitude;
    var longitude;

    var infowindow = new google.maps.InfoWindow();

    google.maps.visualRefresh = true;

    function initialize() {
        var lat = iniLat;
        var lon = iniLng;
        var myLatlng = new google.maps.LatLng(lat, lon);
        var mapOptions = {
            zoom: iniZoom, center: myLatlng, mapTypeId: google.maps.MapTypeId.ROADMAP,
            minZoom: 2
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        google.maps.event.addListener(map, "click", function (event) {
            latitude = event.latLng.lat();
            longitude = event.latLng.lng();
            console.log( latitude + ', ' + longitude );
            // Center map on new marker and get its lat long
            map.panTo(new google.maps.LatLng(latitude,longitude));
            map.setCenter(new google.maps.LatLng(latitude,longitude));
            var markerPos = map.getCenter();
            marker = new google.maps.Marker({
                position: markerPos
            });
            marker.setMap(map); 
            stopEdit();    
            $(document).ready(function(){
              $("#latitude").val(latitude);
            });   
            $(document).ready(function(){
              $("#longitude").val(longitude);
            }); 
        }); //end addListener
    }

    function stopEdit() {
        google.maps.event.clearListeners(map, "click");
    }

    function getCenter() {
        var c = map.getCenter();
        return ({ "latitude": c.lat(), "longitude": c.lng() });
    } // from Google Maps: Power Tools for Maximizing the API” Simple GIS tutorial

    function setCenter(lat, lon) {
        map.setCenter(new google.maps.LatLng(lat, lon));
    } // from Google Maps: Power Tools for Maximizing the API” Simple GIS tutorial  

    function tryAgain() {
      marker.setMap(null);
      $(document).ready(function(){
              $("#latitude").val(iniLat);
            });   
            $(document).ready(function(){
              $("#longitude").val(iniLng);
            });
      initialize();
    }
      
</script>
<%= form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Pick a Question" %><br>
    <%= f.collection_select(:question_id, Question.all, :id, :description, :required => true, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label "Answer" %><br>
    <%= f.text_area :description, :rows => "10", :required => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :latitude, :id=>"latitude", :required => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Location" %>
    <%= f.hidden_field :longitude, :id=>"longitude", :required => true, class: "form-control" %>
  </div>

  <p>Click the map to add a marker</p>
  <div id="map_canvas" style="width: 500px; height: 500px">
  </div> 
  <script>initialize();</script>
  <input type="button" value="Try again" onClick="tryAgain()">
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
